.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .input {
      width: 2rem;
      height: 2rem;
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.action {
  display: flex;
  align-items: center;
  gap: 8px;
}
.taskBtn {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
